@model QuestionSetViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form asp-controller="Set" asp-action="Checkworkset" data-ajax="true" data-ajax-method="POST" data-ajax-update="#Question-Form" data-ajax-mode="replace" id="Questions" method="post" novalidate="novalidate" autocomplete="off">
    @Html.HiddenFor(m => m.QuestionSetID)
    @{ int correct = 0; }
    @for (int i = 0; i < Model.questions.Length; i++)
    {
        <div id="Question:@Model.questions[i].question.GetQuestion()">
            <p>Q: @Model.questions[i].question.GetQuestion() </p>
            <div id="answer-@Model.questions[i].questionID">
                @if (Model.questions[i].answer.Length == 1)
                {
                    <text>Answer: </text>@Html.TextBoxFor(m => m.questions[i].answer[0], new { style = (Model.questions[i].correct[0] < 0 ? "background:#FF0000" : (Model.questions[i].correct[0] > 0 ? "background:#0F0" : "background:#FFF")) })
                    @Html.HiddenFor(m => m.questions[i].questionID)
                    @if (Model.questions[i].correct[0] < 0)
                    {
                        correct++;
                    }
                }
                else
                {
                    for (int q = 0; q < Model.questions[i].Boxes.Length; q++)
                    {

                        <text>@Model.questions[i].Boxes[q]: </text>@Html.TextBoxFor(m => m.questions[i].answer[q], new { style = (Model.questions[i].correct[q] < 0 ? "background:#FF0000" : (Model.questions[i].correct[q] > 0 ? "background:#0F0" : "background:#FFF")) })
                        @Html.HiddenFor(m => m.questions[i].questionID)

                    }
                    @if (Model.questions[i].correct.Where(x => x <= 0).Count() == 0)
                    {
                        correct++;
                    }
                }
            </div>
        </div>
        <br />
    }
    @if (correct == Model.questions.Length - 1)
    {
        <button type="button" onclick="window.location='/Set/Complete?setIDt=@Model.QuestionSetID';">Review</button>
    }
    else
    {
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" onclick="window.location='/Set/Complete?setID=@Model.QuestionSetID';">Quit & Review</button>
    }
</form>