@model CreatedWork

@{ int i = 0; }
@foreach (var piece in Model.WorkTypes)
{
    if (Model.SelectFromList)
    {
<div style="border-top: 3px solid black">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#@piece.WorkType.Replace(" ", "--")"
            style="background-color: Transparent;
background-repeat:no-repeat;
border: none;
cursor:pointer;
overflow: hidden;">
        &raquo; @piece.WorkType
    </button>
    <div id="@piece.WorkType.Replace(" ", "--")" class="collapse">
        <h5 style="color:darkblue" title="Click Refresh for more">Possible Answers</h5>
        @foreach (var genWork in piece.PossibleWork)
        {
            <div ondragover="allowDrop(event)">
                <p draggable="true" id="@genWork.Seed" ondragstart="drag(event, '@piece.WorkType', @piece.TypeID, false)">@genWork.Answer</p>
            </div>
        }
    </div>
</div>
    }
    else
    {
        <div ondragover="allowDrop(event)">
            <p draggable="true" id="@i" ondragstart="drag(event, '', @piece.TypeID,true)">@piece.WorkType</p>
            @{i++;}
        </div>
    }
}