@model GroupResultsViewModel
@using static AutoQuestionGenerator.Helper.Extentions
@{
    ViewData["Title"] = "Results";
}

<h2>Results</h2>


@*var questionTypes =
        (from question in Model.Question
         select question.Type.Type_Name).ToList();
    questionTypes = questionTypes.Unique().ToList();*@

<div class="row">
    <div class="col-md-5" >
        @if (Model.Question.Length != 0)
        {
            <p>Number of Questions that were correct by type</p>
            <div style="max-width: 50%; max-height:30%">
                <canvas id="CorrectByType" width="400" height="400"></canvas>
            </div>
            <div style="height:30%">
                <canvas id="Placement" width="400" height="400"></canvas>
            </div>

        }
        else
        {
            <h3>No one has complete this work yet.</h3>
        }
    </div>
    <div class="col-md-7">
        <table id="studentTbl">
            <tr>
                <th onclick="sortTable(0, 'studentTbl')">Name</th>
                <th onclick="sortTable(1, 'studentTbl')">Number of Attempts</th>
                <th onclick="sortTable(2, 'studentTbl')">Best Percentage</th>
                <th onclick="sortTable(3, 'studentTbl')">Worst Percentage</th>
                <th onclick="sortTable(4, 'studentTbl')">Best Question Type</th>
                <th onclick="sortTable(5, 'studentTbl')">Worst Question Type</th>
            </tr>
            @foreach (var item in Model.Averages)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Attempts</td>
                    <td>@item.Percentage.Percentage</td>
                    <td>@item.WorstPercentage.Percentage</td>
                    <td>@item.bestType</td>
                    <td>@item.worstType</td>
                </tr>
            }
        </table>
    </div>
</div>

@if (Model.Question.Length != 0)
{
    <script>
    var options = {
        maintainAspectRatio: false,
        spanGaps: false,
        elements: {
            line: {
                tension: 0.3
            }
        },
        plugins: {
            filler: {
                propagate: false
            }
        },
        scales: {
            xAxes: [{
                type: 'linear',
                ticks: {
                    autoSkip: false,
                    maxRotation: 0
                }
            }],
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    };


    var ctx = document.getElementById("CorrectByType");
            var myChart = new Chart(ctx, {

                type: 'bar',
                data: {

                    labels: [@foreach (var item in Model.questionTypes)
                    {

                        <text>'@item',</text>
                    }],
            datasets: [{
            label: '% of Answers Correct',
                data: [@Model.List.Select(x => x.Percentage).ToList().Connect(","),2,3,4,5],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.4)',
                    'rgba(54, 162, 235, 0.4)',
                    'rgba(255, 206, 86, 0.4)',
                    'rgba(75, 192, 192, 0.4)',
                    'rgba(153, 102, 255, 0.4)',
                    'rgba(255, 159, 64, 0.4)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },

                    beginAtZero: true,
                    min: 0,
                    max: 100
                }],
                xAxes: [{
                    ticks: {
                        beginAtZero: true,
                        min: 0,
                        max: 100
                    }
                }]
            }
        }
    });
        new Chart('Placement', {
            type: 'scatter',
        data: {
            @{ var orderedAverages = Model.Averages.OrderBy(x => x.Percentage.Percentage); }
        labels: ['0%', @foreach (var item in orderedAverages)
        {
<Text>'@item.Percentage.Percentage%',</Text>
        } '100%'],
            datasets: [{
                backgroundColor: 'rgba(255, 99, 132, 0.4)',
                borderColor: 'rgba(255, 99, 132, 1)',
                data: [{ x: 0, y: 0 },@foreach (var pos in orderedAverages){<Text>{ x: @pos.Percentage.Percentage, y: @pos.sameCount },</Text>} { x: 100, y: 0 }],
                label: 'Percentage Distribution',
                fill: 'origin'
            }],
        },
        options: Chart.helpers.merge(options, {
        title: {
            text: 'Averages',
                display: true
            },
            scales: {
            xAxes: [{
                ticks: {
                    autoSkip: false,
                        maxRotation: 0
                    }
                }],
                yAxes: [{
                ticks: {
                    beginAtZero: true,

                    }
                }]
            },
            maintainAspectRatio: false
        })
    });
    </script>
}