@model AutoQuestionGenerator.DatabaseModels.Organisations
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<br /><br />
<h3>Info</h3>
<p>
    ID: @Model.OrganisationID <br />
    Name: @Model.Organisation_Name <br />
    Username: @Model.Organisation_Username <br />
</p>
<br />
@if (AutoQuestionGenerator.Accounts.UserHelper.UserInRole(AutoQuestionGenerator.Accounts.UserHelper.GetUserId(HttpContextAccessor.HttpContext.Session), AutoQuestionGenerator.Accounts.UserHelper.ROLE_ADMIN, new AutoQuestionGenerator.DatabaseModels.IdentityModels()))
{
    <p>
        Subscription Type: @Model.Subscription_Type<br />
        Next Renewal Date: @Model.Subscription_Renew_Date
    </p>
    <div class="row">
        <div class="col-md-offset-1 col-md-2">
            <form asp-action="Users" method="get">
                <button type="submit" class="btn">User Informaion</button>
            </form>
        </div>
        <div class="col-md-1">
            <form asp-action="Groups" method="get">
                <button type="submit" class="btn">Groups</button>
            </form>
        </div>
    </div>
    <form asp-action="Update">
<button type="submit" class="btn btn-danger">Update Details</button>
</form>
}
