@model AutoQuestionGenerator.DatabaseModels.Organisations
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<br /><br />
<h3>Info</h3>
<p>
    ID: @Model.OrganisationID <br />
    Name: @Model.Organisation_Name <br />
    Username: @Model.Organisation_Username <br />
</p>
<br />
@if (AutoQuestionGenerator.Accounts.UserHelper.UserInRole(AutoQuestionGenerator.Accounts.UserHelper.GetUserId(HttpContextAccessor.HttpContext.Session), AutoQuestionGenerator.Accounts.UserHelper.ROLE_ADMIN, new AutoQuestionGenerator.DatabaseModels.IdentityModels()))
{
    <p>
        Subscription Type: @Model.Subscription_Type<br />
        Next Renewal Date: @Model.Subscription_Renew_Date
    </p>
    <form asp-action="UploadUsers" method="get">
        <button type="submit" class="btn">Upload Multiple Users</button>
    </form>
    <br />
    <form asp-action="CreateUser" method="get">
        <button type="submit" class="btn">Create New User</button>
    </form>
}
